<div class="cl-page" id="activityDetail">
  <div class="cl-bar-title">
    <a href="javascript:;" class="cl-btn" data-transition="slide-out" id="backButton">
      <i class="entypo-icon">&#59237;</i>
    </a>
    <div class="cl-title"><%= title %></div>
    <a href="javascript:;" class="cl-btn"  id="shareButton">
      <i class="entypo-icon ">&#59157;</i>
    </a>
  </div>


    <div id="editPanel" class="hide">
      <a href="javascript:;" id="updateButton" class="cl-btn">Wijzig deze activiteit</a>
    </div>

  <div class="cl-content">
    <div id="activity-header">

      <div id="activityMap">

      </div>

      <div id="activityInfo">

        <span>
          <%= location %> 
        </span>
        
        <a id="navigateButton" href="javascript:;">Navigeer</a>

      </div>
    </div>

    
    <div class="cl-btn-toolbar flex" id="activityDetailTabs">
      <a data="#praktischContent" class="cl-btn active">Praktisch</a>
      <a data="#mediaContent" id="mediaButton" class="cl-btn">Media</a>
      <a data="#messagesContent" class="cl-btn">Berichten</a>
    </div>


    <div id="activityContent">

    </div>
  </div>

  
    <div class="hide" id="popover" data-element-to-be-toggled="popover-context" data-element-to-be-closed="popover-context">
      <div class="cl-popover align-center pop-from-bottom">
      <div class="cl-article padded">
        <ul>
          <li><a href="javascript:;" id="facebookShareButton" class="cl-btn flat-green">Delen op Facebook</a></li>
        </ul>
      <a href="javascript:;" id="popover-close" class="cl-btn" data-close-element="popover-context">Sluit</a>
      </div>
      </div>
      <div class="cl-modal-backdrop"></div>
    </div>
</div>

