<div id="watContent">
	<!-- General form -->
	<form action="javascript:;" id="watForm">
		<div class="cl-form padded">
			<input type="text" name="sport" placeholder="Sport" id="sportInput" required/>
			<hr/>
			<input type="date" name="datum" placeholder="Datum" id="wanneerInput" required/>
			<hr/>
		    <h4>Van</h4>
			<input type="time" name="vanuur" placeholder="Uur" id="vanInput" required/>
			<hr/>
		    <h4>Tot</h4>
			<input type="time" name="totuur" placeholder="Uur" id="totInput" required/>
			<hr/>
			<input type="text" name="titlel" placeholder="Titel" id="titelInput" required/>
			<hr/>

		    <h4>Aantal deelnemers</h4>
		    <span id="participants" class="show">20 deelnemers</span>
		    <input type="range" min="2" max="60" value="20" name="participants"  id="participantsSlider" required/>

			<hr/>

			<textarea rows="4" name="omschrijving" placeholder="Omschrijving" id="omschrijvingInput"></textarea>
		</div>

		
	</form>
</div>