<div id="challengeView">
	<div id="badgesOverview" class="hide">
		
	</div>

	<div id="myChallengesOverview" class="hide">
		<div class="cl-bar">
        	<p class="cl-bar-text">Mijn uitdagingen</p>
     	</div>

		<div class="cl-table" id="myChallengesOverviewTable" class="hide">

		</div>       
	</div>

	<div id="challengesOverview" class="hide">
		<div class="cl-bar">
        	<p class="cl-bar-text">Beschikbare uitdagingen</p>
     	</div>

		<div class="cl-table" id="challengesOverviewTable" class="hide">

		</div>       
	</div>
</div>