<div class="cl-page" id="favouriteSportsSelector">
	<div class="cl-bar-title">
		<div class="cl-title">Kies je favoriete sporten</div>
	</div>

			<div id="searchBar">
            <form action="javascript:;" id="searchForm">
				<div class="cl-form padded">
					<input type="search" name="sport" placeholder="Zoek een sport" id="sportInput" required/>
				</div>
			</form>
        </div>

	<div class="cl-content" style="overflow: scroll;">
		<div id="favouriteSportList">

		</div>
	</div>

	<div class="button-container">
      <a  href="javascript:;" id="confirm" class="cl-btn cl-depth-btn ">Sporten kiezen</a>
    </div>
</div>
