<div class="cl-page" id="friendView">
  <div class="cl-bar-title">
    <a href="javascript:;" class="cl-btn" data-transition="slide-out" id="backButton">
      <i class="entypo-icon">&#59237;</i>
    </a>
    <div class="cl-title"><%= user.name %></div>
  </div>
  <span class="avatar" style="background: url('<%= imagePath %><%= user.avatar %>') no-repeat;     -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; "></span>

  <div class="cl-content" >

    <% if (user.myFriend == false) { %>
        <a href="javascript:;" id="addFriendButton" class="cl-btn  cl-btn flat-green">Voeg toe als vriend</a>
    <% } %>
    
    <h4>Avatar</h4>
    <div id="avatarView">
      <div id="barContainer">
        <div id="bars">
          <h4>Coolness</h4>
          <progress value="<%= user.strength_score %>" max="100"></progress>  

          <h4>Uithouding</h4>
          <progress value="<%= user.stamina_score %>" max="100"></progress>  

          <h4>Outfit</h4>
          <progress value="<%= user.equipment_score %>" max="100"></progress> 
        </div>
      </div>

      <div id="avatar">

      </div> 
    </div>



    <h4>Media</h4>
    <div id="mediaContainer">

    </div>

  </div>
</div>

