<div class="cl-page" id="planner">
  <div class="cl-bar-title">
    <div class="cl-title">Planner</div>
  </div>

  <div class="cl-content">

    <div id="myActivitiesPlanner" class="hide">
      <div class="cl-bar">
        <p class="cl-bar-text">Aangemaakte activiteiten</p>
      </div>      
      <div class="cl-table" id="myActivitiesTable" class="hide">
        
      </div> 
    </div>

    <div id="myInvitationsPlanner" class="hide">
      <div class="cl-bar">
        <p class="cl-bar-text">Je bent uitgenodigd voor deze activiteit</p>
      </div>
    	<div class="cl-table" id="myInvitationsTable" class="hide">

    	</div>
    </div>

    <div id="myPlanner" class="hide">
    	<div class="cl-bar">
          <p class="cl-bar-text">Je gaat naar deze activiteiten</p>
      </div>
      <div class="cl-table" id="myPlanningTable">
    	    
    	</div>
    </div>

  </div>

    <nav class="tab-bar" id="mainNav">
        <ul>
            <li class="tab-item">
                <a href="#dashboard">
                <div class="tab-label">Activiteiten</div>
                </a>
            </li>
            <li class="tab-item active">
                <a href="#planner">
                <div class="tab-label">Planning</div>
                </a>
            </li>
            <li class="tab-item">
                <a href="#profile">
                <div class="tab-label">Profiel</div>
                </a>
            </li>
        </ul>
    </nav>
</div>