<div class="cl-page" id="profile">
  <div class="cl-bar-title">
    <div class="cl-title">Profiel</div>
        <a href="#settings" class="cl-btn" data-transition="slide-out">
      <i class="entypo-icon">&#9881;</i>
    </a>
  </div>

	<div class="cl-btn-toolbar flex" id="profileTabs">
		<a data="#atleetContent" class="cl-btn active" id="atleetButton">Atleet</a>
		<a data="#uitdagingenContent" class="cl-btn" id="challengesButton">Uitdagingen</a>
		<a data="#vriendenContent" class="cl-btn" id="friendsButton">Vrienden</a>
	</div>

	<div class="cl-content">
		<div id="profileContent">
			
		</div>
	</div>

    <nav class="tab-bar" id="mainNav">
        <ul>
            <li class="tab-item">
                <a href="#dashboard">
                <div class="tab-label">Activiteiten</div>
                </a>
            </li>
            <li class="tab-item">
                <a href="#planner">
                <div class="tab-label">Planning</div>
                </a>
            </li>
            <li class="tab-item active">
                <a href="#profile">
                <div class="tab-label">Profiel</div>
                </a>
            </li>
        </ul>
    </nav>
</div>