<form class="form-signin" role="form" id="loginForm">
  <h2 class="form-signin-heading">Meld je aan</h2>
  <div class="bg-danger hide" id="errorBox">
  	Je paswoord is niet correct of je hebt geen toegang tot het beheerderspaneel.
  </div>

  <input type="email" class="form-control" placeholder="Email addres" required="" autofocus="" id="email">
  <input type="password" class="form-control" placeholder="Paswoord" required="" id="pwd">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Aanmelden</button>
</form>