<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#">Overzicht</a></li>
      <li class="active"><a href="#new-activity">Nieuwe activiteit</a></li>

    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Nieuwe activiteit</h2>
    <form class="form-horizontal" role="form" id="editForm">
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Titel</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="" id="title" placeholder="Titel" name="email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="sport" class="col-sm-2 control-label">Sport</label>
        <div class="col-sm-10">
          <input type="text" value="" class="form-control" id="sport" name="title" placeholder="Sport" required>
        </div>
      </div>
      <div class="form-group">
        <label for="wanneerInput" class="col-sm-2 control-label">Datum</label>
        <div class="col-sm-10">
          <input type="date" value="" class="form-control" id="wanneerInput"  name="date" required>
        </div>
      </div>
      <div class="form-group">
        <label for="vanInput" class="col-sm-2 control-label">Van</label>
        <div class="col-sm-10">
          <input type="time" value="" class="form-control" id="vanInput" name="time" required>
        </div>
      </div>
      <div class="form-group">
        <label for="totInput" class="col-sm-2 control-label">Tot</label>
        <div class="col-sm-10">
          <input type="time" value="" class="form-control" id="totInput" name="tot" required>
        </div>
      </div>
      <div class="form-group">
        <label for="locationInput" class="col-sm-2 control-label">Locatie</label>
        <div class="col-sm-10">
          <input type="text" value="" class="form-control" id="locationInput" placeholder="Locatie" name="location" required>
          <div id="map">

          </div>
      </div>
      </div>
      <div class="form-group">
        <label for="participantsSlider" class="col-sm-2 control-label">Max deelnemers</label>
        <div class="col-sm-10">
          <input type="range" min="2" max="60" name="participants" value=""  id="participantsSlider" required/>
          <span id="participantsTotal">
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="omschrijvingInput" class="col-sm-2 control-label">Omschrijving</label>
        <div class="col-sm-10">
          <textarea rows="4" name="omschrijving" placeholder="Omschrijving" class="col-sm-12" id="omschrijvingInput"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary pull-right">Activiteit aanmaken</button>
        </div>
      </div>
    </form>
  </div>
</div>


