<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">

    
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#sports">Overzicht</a></li>
      <li><a href="#new-sport">Nieuwe sport</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



    <h2 class="sub-header">Sporten<a href="#new-sport" class="btn btn-primary pull-right">Nieuwe sport</a>
</h2>
    <div class="table-responsive">
      <table class="table table-striped" id="sports-table">
        <thead>
          <tr>
            <th></th>
            <th>Titel</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>


